[submodule "mobile_app/android/lib/mango_orm"]
	path = mobile_app/android/lib/mango_orm
	url = https://arjunswaj@bitbucket.org/ormlibraryteam/orm-library.git
[submodule "mobile_app/android/lib/scribe"]
	path = mobile_app/android/lib/scribe
	url = https://github.com/arjunswaj/scribe-java.git
[submodule "mobile_app/android/lib/cardslib"]
	path = mobile_app/android/lib/cardslib
	url = https://github.com/gabrielemariotti/cardslib.git
[submodule "mobile_app/android/lib/staggered_grid"]
	path = mobile_app/android/lib/staggered_grid
	url = https://github.com/etsy/AndroidStaggeredGrid.git
[submodule "mobile_app/android/lib/listview_animations"]
	path = mobile_app/android/lib/listview_animations
	url = https://github.com/nhaarman/ListViewAnimations.git
[submodule "mobile_app/android/lib/jsoup"]
	path = mobile_app/android/lib/jsoup
	url = https://github.com/jhy/jsoup/
