<p id="notice">
	<%= notice %>
</p>
<div id='groups-menu'>
	<div id='left'>
		<%= render_navigation(:level => 1) %>
		<%= render_navigation(:level => 2) %>
	</div>
	<div id='right'>
		<h5> <%= link_to '+ Create New Group', new_group_path %> </h5>
	</div>
</div>