<div class="left">
	<h5>Your Groups</h5>
	<% @member_of_groups.each do |group| %>
	<%= link_to group.name, group %>
	<br />
	<% end %>
</div>

<div class="right">
	<h5>Groups You Admin</h5>
	<% @owner_of_groups.each do |group| %>
	<%= link_to group.name, group %>
	<br />
	<% end %>
</div>

<div>
	<h5><%= link_to '+ Create New Group', new_group_path %></h5>
</div>

<div>
	<%= render "invites"%>
</div>