<%= content_for :center do %>
<div id='groups-content'>
	<%= render_navigation :context => :group_menu%>

	<div id='filler'>
		&nbsp;
	</div>

	<ul class='subgroups-nav'>
		<% @members.each do |user| %>
		<li>
			<span> 
				<%= user.name %>
				<% if @group_owner && @group_owner != user %>
				<div class='right'>
					<%= link_to 'Remove', remove_user_from_group_path(@group, user), method: :delete, data: { confirm: 'Are you sure?' } %>
				</div> 
				<% end %>
			</span>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
