<div id='head'>
	<div id='left'>
		<%= render_navigation :context => :group_menu%>
	</div>
	<div id='right'>
		<%= yield :actions %>
	</div>
</div>
<div id='body'>
	<% @pending_members.each do |user| %>
		<%= user.email %>
		<% if @group_owner && @group_owner != user %>
			<%= link_to 'Cancel', cancel_invite_to_user_from_group_path(@group, user), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<br />
	<% end unless @pending_members.nil?%>
</div>