<div class="bookmark-form">
  <h3>Update Bookmark</h3>
  <%= form_tag("/updatebookmark", method: "post", remote: true) do %>  
      <%= render(:partial => "bookmark_form", :locals => {:bookmark => @bookmark}) %>
      	<div>
  			<%= submit_tag("Update", class:"btn") %>
		</div>
  <% end %>
</div>