<div class="links-actions">
	<div class="links-user-info">
		<div class="left-user-info">
			<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="..." class="img-rounded"/>
		</div>
		<div class="right-user-info">
			<%=current_user.name %>
		</div>		
		<div class="clear"></div>
	</div>
	<div class="links-form">
		<%= form_tag("/saveurl", method: "post", remote: true) do %>	
			<div class="links-form-url">	  
		  		<%= text_area_tag(:url, nil, {placeholder: "Paste the URL here...", rows:3}) %>
		  	</div>
		  	<div class="links-form-button">
				<%= submit_tag("Save", class:"btn") %>
			</div>
		<% end %>
	</div>	
</div>