var overlay = jQuery('<div id="bookmarklet-overlay"> </div>');
url = $(location).attr('href');

title = '';
description = '';
keywords = [];
$('meta').each(function(index){
	if ($(this).attr('name') == ('og:title'))
		title = $(this).attr('content');
	if ($(this).attr('name') == ('og:description') || $(this).attr('name') == ('description'))
		description = $(this).attr('content');
	if ($(this).attr('name') == ('keywords'))
		keywords = $(this).attr('content').split(',');
});
if (title == '')
	title = $(document).find("title").text();


