$('#overlay').removeClass("overlay-visible").addClass("overlay-invisible");
$("#<%=@bookmark.id %>").remove().fadeIn(1500);
$('.links').prepend('<%= escape_javascript("#{render(:partial => 'user_link', :locals => {:bookmark => @bookmark})}").html_safe %>').fadeIn(1500);
$("#overlay").remove();
$('.timeline').prepend('<%= escape_javascript("<div id=\"overlay\" class=\"overlay-invisible\"></div>").html_safe %>');
$("#url").val("");