// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right {
  float: right;
}
#groups-layout-left {
  float:left;
  width: 15%;
  height: 100%;
}

#groups-layout-center {
  float:left;
  width: 70%;
  height: 100%;
}

#groups-layout-right {
  float:right;
  width: 15%;
  height: 100%;
}

div#groups-content {
  float:left;
  width:100%;
  
  > ul.groups-nav {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    background: whitesmoke;
    padding-bottom: .5em;
    padding-top: .5em;
    
    >li {
      float:left;
      padding:0;
      
      >a {
        display:block;
        color:#444;
        padding:0.25em 1em;
        border-right:1px solid #aaa;
        font-size: medium;
      }
    
      >a.selected {
        font-weight: bold;
        font-size: medium;
      }
    }
  
    >li#edit {
      float:right;
      font-weight:bold;
    }
  
    >li#create_group, >li#delete, >li#unsubscribe {
      float:right;
      margin-right: 1em;
      font-weight:bold;
    }
  }
  
  > ul.subgroups-nav {
    list-style:none;
    margin:0;
    >li {
      font-weight:bold;
      background:whitesmoke;
      border-top:0.2em solid #fff;
      float: left;
      width: 100%;
      padding-bottom: .4em;
      padding-top: .4em;

      >a {
        float: left; 
        padding:0.25em 1em;
      }
  
      >div.action {
        float: right;
        padding-right: 1em;
      }
    }
  }
}

div#content {
  background: whitesmoke;
}

div#details {
  //float: left;
  //width: 50%;
  > div > a {
    color: #777777;
  }
}

div#add-users {
  //float: right;
  //width: 50%;
  
  >form>input[type=submit] {
    float: right;
  }
}

div.timeline>div#share {
  padding: 1em 2em;

  >form>input[type=text] {
    width: 100%;
    height: 1.5em;
  }
  
  >form>input[type=submit] {
    float: right;
  }
}

div.timeline {
  position: relative;
  border-bottom: 1px solid rgb(241, 203, 203);
  border-top: 1px solid rgb(241, 203, 203);
  border-left: 1px solid rgb(241, 203, 203);
  border-right: 1px solid rgb(241, 203, 203);
}