// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.btn.btn-primary.btn-lg {
  font-weight: bold;
  font-size: large;
  > a {
    color: whitesmoke;
  }
}

ul {
  list-style:none;
}

