<h3>Useful tools</h3>
<ul>
	<li>
	<div>
		<span><h4>Bookmarklet</h4></span>
		<span>Drag the below button to your toolbar to enable a one click bookmarking tool. You can then click on this button when you want to bookmark a url you are currents browsing through links</span>
	</div>
	<div>
		<p></p>
	</div>
		<div class='btn btn-primary btn-lg'>
			<a href="javascript:(function() {
    var url = document.URL;
    var title = '';
    var description = '';
    var tags = [];
    title = document.title;
    var metaTagElements = document.getElementsByTagName('meta');
    for(i = 1; i < metaTagElements.length; i++) { 
        if (metaTagElements[i].getAttribute('name') == 'description' || metaTagElements[i].getAttribute('name') == 'og:description')
            description = metaTagElements[i].getAttribute('content');
        if (metaTagElements[i].getAttribute('name') == 'og:title')
            title = metaTagElements[i].getAttribute('content');
        if (metaTagElements[i].getAttribute('name') == 'keywords')
            tags = metaTagElements[i].getAttribute('content').split(',');
    }
    
    var form = document.createElement('form');
	form.setAttribute('method', 'post');
	form.setAttribute('action', 'http://w.fieldsofview.in:3000/bookmarklet.html');
	form.setAttribute('target', 'newwin');

	var urlInput = document.createElement('input'); 
	urlInput.setAttribute('type', 'hidden');
	urlInput.setAttribute('name', 'url');
	urlInput.setAttribute('value', url);
	form.appendChild(urlInput);

	var titleInput = document.createElement('input');
	titleInput.setAttribute('type', 'hidden');
	titleInput.setAttribute('name', 'title');
	titleInput.setAttribute('value', title);
	form.appendChild(titleInput);

	var descriptionInput = document.createElement('input'); 
	descriptionInput.setAttribute('type', 'hidden');
	descriptionInput.setAttribute('name', 'description');
	descriptionInput.setAttribute('value', description);
	form.appendChild(descriptionInput);

	var tagsInput = document.createElement('input'); 
	tagsInput.setAttribute('type', 'hidden');	
	tagsInput.setAttribute('name', 'tags');
	tagsInput.setAttribute('value', tags);
	form.appendChild(tagsInput);
	
	document.body.appendChild(form);

	window.open('', 'newwin');
	form.submit();
	
}())">+ Add to Links</a>		
		</div>
		<hr>
	</li>
	<li>
		<div>
			<span><h4>Import from delicious</h4></span>
			<span>Already have bookmarks in Delicious? No problem. <strong><%= link_to "Click here", delicious_authorize_path %></strong> to import it to Links</span>
		</div>
		<hr>
	</li>
</ul>

